<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:leopard="http://leopard.game.yy.com/schema/leopard"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://leopard.game.yy.com/schema/leopard http://leopard.game.yy.com/schema/leopard-0.1.xsd ">
	
	<leopard:jdbc id="jdbc" host="113.108.228.100" database="news" user="news" password="messagexxxxmessage" />

</beans>
