<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />


	<bean id="monitorConfig" class="io.leopard.monitor.MonitorServiceImpl" factory-method="getMonitorConfig"/>
	
	<bean id="entranceData" class="io.leopard.monitor.performance.data.EntranceData" />
	
	<bean id="performanceService" class="io.leopard.monitor.performance.service.PerformanceServiceImpl" />
	<bean id="performanceHandler" class="io.leopard.monitor.performance.service.PerformanceHandlerImpl" />

	<bean id="performanceBeanService" class="io.leopard.monitor.performance.service.PerformanceBeanServiceImpl" />
	<bean id="performanceBeanDao" class="io.leopard.monitor.performance.dao.impl.PerformanceBeanDaoImpl" />

	<bean id="performanceHistoryService" class="io.leopard.monitor.performance.service.PerformanceHistoryServiceImpl" />
	<bean id="performanceHistoryDaoMysqlImpl" class="io.leopard.monitor.performance.dao.mysql.PerformanceHistoryDaoMysqlImpl" />


	<bean id="connectionMonitorService" class="io.leopard.monitor.connection.ConnectionMonitorServiceImpl" />
	<bean id="connectionMonitorDao" class="io.leopard.monitor.connection.ConnectionMonitorDaoImpl" />

	<bean id="threadMonitorService" class="io.leopard.monitor.thread.ThreadMonitorServiceImpl" />
	<bean id="threadMonitorDao" class="io.leopard.monitor.thread.ThreadMonitorDaoImpl" />


	<bean id="monitorService" class="io.leopard.monitor.MonitorServiceImpl" />
	
	<bean id="threadCountMonitor" class="io.leopard.monitor.ThreadCountMonitor" />
	<bean id="cpuMonitor" class="io.leopard.monitor.CpuMonitor" />
	<bean id="memoryMonitor" class="io.leopard.monitor.MemoryMonitor" />
	<bean id="redisMonitor" class="io.leopard.monitor.RedisMonitor" />
	
	
	<bean id="forecastService" class="io.leopard.monitor.forecast.service.impl.ForecastServiceImpl"/>
	<bean id="forecastDao" class="io.leopard.monitor.forecast.dao.redis.ForecastDaoRedisImpl"/>
	
<!-- 
	<bean id="alarmService" class="io.leopard.monitor.alarm.impl.AlarmServiceImpl" factory-method="getInstance" />
	 -->

</beans>
