<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<import resource="classpath:/leopard/applicationContext.xml" />


	<bean class="io.leopard.web.LeopardBeanPostProcessor" />

	<context:component-scan base-package="io.leopard.web.mvc.controller" />
	<context:component-scan base-package="io.leopard.web4j.parameter" />
	<context:component-scan base-package="io.leopard.web4j.validator" />
	<context:component-scan base-package="io.leopard.web.userinfo" />
	<context:component-scan base-package="io.leopard.web4j.passport" />

	<!-- 用户信息封装 -->
	<bean id="leopardFilter" class="io.leopard.web.userinfo.LeopardFilter" />

	<!-- 拦截器 -->
	<context:component-scan base-package="io.leopard.web.interceptor" />
	<context:component-scan base-package="io.leopard.monitor.interceptor" />

	<bean class="io.leopard.web.mvc.LeopardHandlerMapping" />


	<bean id="csrfService" class="io.leopard.web4j.nobug.csrf.CsrfServiceImpl" />
	<!-- <import resource="freemarker.xml" /> -->
	<bean id="viewResolver" class="io.leopard.web.LeopardViewResolver" />


	<import resource="classpath*:/leopard-plugin.xml" />
	<import resource="classpath*:/monitor.xml" />
	<import resource="classpath:/applicationContext.xml" />
	<!-- <import resource="resources.xml" /> -->

</beans>